<%if @movies.nil?%>
<div class="section center">
  <p class="flow-text ">There are currently no recent movie searches! Consider Looking up one!</p>
  <%=  link_to 'search a movie', movie_search_path , method:'get', class: 'btn btn-large indigo'%>
</div>

<%else%>
<div class="row left">Sort by:</div>
<%= form_tag movies_path, method: :get do %>

<%= submit_tag "ratings", name: :sort, class:"btn-small white-text indigo" %>
<%= submit_tag "ratings DESC", name: :sort, class:"btn-small white-text indigo" %>

<%= submit_tag "runtime", name: :sort, class: "btn-small white-text indigo" %>
<%= submit_tag "runtime DESC", name: :sort, class: "btn-small white-text indigo" %>

<%= submit_tag "year", name: :sort, class: "btn-small white-text indigo" %>
<%= submit_tag "year DESC", name: :sort, class: "btn-small white-text indigo" %>

<% end %>
</div>
<div class="container">
  <p class="flow-text center">Enjoy the latest movies searched by our users.</p>
</div>

<div class="row">
  <div class="col s12">
    <% @movies.each do |movie|%>
    <div class="col s4">
      <div class="card large">
        <div class="card-image">
          <% if (movie.poster.size < 4)%>
          <span>Image is not available through the api, if you'd like, you can report it
            <%= mail_to "cliprojectfis@gmail.com", "here"%>. thanks! :)</span>
          <%else%>
          <img src="<%=movie.poster%>">
          <%end%>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p class="center"><strong>Title: <%=movie.title%>(<%=movie.runtime%>), <%=movie.year%>, Rating:
                <%=movie.ratings%></strong></p>

            <div class="section">
              <p><%=movie.plot%></p>
            </div>
            <div class="card-action">
            
              <%= link_to 'See reviews', movie_reviews_path(movie.id), class: 'btn indigo '%>
              <%= link_to 'Movie Page', movie_path(movie.id), class: 'btn indigo'%>
              <%= link_to 'New review', new_movie_review_path(movie.id), class: 'btn indigo'%>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <%end%>
    <%end%>
  </div>
</div>