 
<% if @error %>
<div id="error_explanation">
  <p><%= @error %></p>
</div>
<% end %>

 <div class="section center">
 </div>
 
 <div class="row">
    <div class="col s5 center">
      <div class="card ">
        <div class="card-image ">
          <img src="<%=@movie.poster%>">
            <div class="card-title ">
                <p>Name:<%=@movie.title%></p>
            </div>
            <div class="section">
                <span class="left">Awards: <%=@movie.awards%> IMDB Ratings: <%=@movie.ratings%>. Genre: <%=@movie.genre%>.<br>
                       </div>
        </div>
        <div class="card-content">
          <p><%=@movie.plot%></p>
        </div>
        <div class="card-action">
        <div class="row">
          <%= link_to 'See reviews', movie_reviews_path(@movie.id), class: 'btn btn-large indigo right'%>
          <%= link_to 'New review', new_movie_review_path(@movie.id), class: 'btn btn-large indigo left'%>
          </div>
        </div>
      </div>
    </div>
  </div>
<style>
.card img {
    max-height: 200px;
    object-fit: cover;
}


</style>