<% if @user.movies.empty?%>
<p class="flow-text center">There are no movies to be shown. Would you like to search for one?</p>
<div class="center">
  <%= link_to 'Search a movie', movie_search_path, class: 'btn indigo'%>
</div>
<%else%>
<div class="row">
  <div class="col s12">
    <% @user.movies.each do |movie|%>
    <div class="col s4">
      <div class="card medium">
        <div class="card-image">
          <% if (movie.poster.size < 4)%>
          <span>Image is not available through the api, if you'd like, you can report it
            <%= mail_to "cliprojectfis@gmail.com", "here"%>. thanks! :)</span>
          <%else%>
          <img src="<%=movie.poster%>">
          <%end%>
        </div>

        <div class="card-stacked">
          <div class="card-content">

            <strong class="center"><%=movie.title%></strong>
            <p><%=movie.plot%></p>

            <div class="card-action">
              <%= link_to 'See All Reviews', movie_reviews_path(movie), method:'get', class: 'btn indigo '%>
              <%= link_to 'See Your Reviews', movie_user_reviews_path(movie, current_user), method:'get', class: 'btn indigo '%>
            </div>
          </div>

        </div>
      </div>
    </div>
    <%end%>
  </div>
</div>
<%end%>