<div class="section center">
    <div class="row">
        <div class="card medium">

            <div class="card-image">
                <% if !pic_available?%>
                <span>Image is not available through the api, if you'd like, you can report it
                    <%= mail_to "cliprojectfis@gmail.com", "here"%>. thanks! :)</span>
                <%else%>
                <img src="<%=@movie.poster%>">
                <%end%>
            </div>

            <div class="card-title">
                <h5>Name:<%=@movie.title%></h5>
                <span>Ratings: <%=@movie.ratings%></span><br>
                <span>Actors: <%= @movie.actors%></span>
            </div>
        </div>

        <div class="row">
            <% if @movie.reviews.empty?%>
            <p class="flow-text ">There are currently no reviews for that movie! Consider adding one</p>
            <%else%>
        </div>

        <div class="section s12">
            <%@reviews.map do |review| %>
            <div class="card col s4 ">
                <p>Comment:<br>"<%= review.comment%>"</p>
                <p>Rating: <strong><%= review.rating%></strong></p>
            <% if review.user == current_user %>
              <%= link_to 'Edit', edit_movie_review_path(@movie, review), method:'get', class: 'btn indigo '%>
              <%= link_to 'Delete', movie_review_path(@movie, review), method:'delete', class: 'btn indigo '%>
            <% end %>
            </div>
            <%end%>
            <%end%>
        </div>
    </div>

    <div class="row s12">
        <p>Would you like to add a review?</p>
        <%= link_to 'New review', new_movie_review_path(@movie.id), class: 'btn indigo'%>
    </div>
</div>