<!DOCTYPE html>
<html>
  <head>
    <title>Moviez</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <div class="nav-wrapper">
      <a href="/" class="center brand-logo">Moviez</a>
      <ul class="right">
      <% if current_user%>
      <li><a href="/logout">Sign Out</a></li>
      <li><%= link_to 'Delete Account', user_path(@user.id), method:'delete'%></li>
      <%else%>
        <li><a href="/login">Sign in</a></li>
        <li><a href="/signup">Sign up</a></li>
      <%end%>
        <li><a href="/movies">Latest movies</a></li>

      </ul>
    </div>
  </nav>
  <br>
  <% flash.each do |type, msg| %>
  <div>
    <div class="center flow-text"><%= msg %></div>
  </div>
<% end %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <%= yield %>
  </body>
</html>
